In [14]:
#import warnings
import warnings
warnings.filterwarnings("ignore")

#import libraries
import pandas as pd
import numpy as np

#import visualization tools
import matplotlib.pyplot as plt
import seaborn as sns

#import dataset
from pydataset import data

#sklearn imports
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.preprocessing import MinMaxScaler as mms

In [4]:
# Here we load in our data from pydataset
df= data('tips')

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
df.rename(columns= {'size': 'party_size'}, inplace= True)

Load the tips dataset.

A. Create a column named price_per_person. This should be the total bill divided by the party size.

B. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?

C. Use select k best to select the top 2 features for predicting tip amount. What are they?

D. Use recursive feature elimination to select the top 2 features for tip amount. What are they?

E. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?

In [10]:
df['price_per_person']= df.total_bill / df.party_size

In [11]:
df

,total_bill,tip,sex,smoker,day,time,party_size,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,6.147500
...,...,...,...,...,...,...,...,...
240,29.03,5.92,Male,No,Sat,Dinner,3,9.676667
241,27.18,2.00,Female,Yes,Sat,Dinner,2,13.590000
242,22.67,2.00,Male,Yes,Sat,Dinner,2,11.335000
243,17.82,1.75,Male,No,Sat,Dinner,2,8.910000
244,18.78,3.00,Female,No,Thur,Dinner,2,9.390000

- ### I believe that party_size will the most important for predicting the tip amount

In [15]:
train, test = train_test_split(df, train_size= 0.7, random_state= 42)
train.shape, test.shape

((170, 8), (74, 8))

In [18]:
train.head()

     total_bill   tip   sex smoker  day    time  party_size  price_per_person
235       15.53  3.00  Male    Yes  Sat  Dinner           2            7.7650
228       20.45  3.00  Male     No  Sat  Dinner           4            5.1125
181       34.65  3.68  Male    Yes  Sun  Dinner           4            8.6625
6         25.29  4.71  Male     No  Sun  Dinner           4            6.3225
57        38.01  3.00  Male    Yes  Sat  Dinner           4            9.5025

In [20]:
X_train= train[['total_bill', 'party_size', 'price_per_person']]
y_train= train.tip

In [23]:
f_selector= SelectKBest(f_regression, k=2)

In [25]:
f_selector.fit(X_train, y_train)

SelectKBest(k=2, score_func=<function f_regression at 0x1488e1a60>)

In [26]:
f_select_mask= f_selector.get_support()

In [28]:
X_train.columns[f_select_mask]

Index(['total_bill', 'party_size'], dtype='object')